html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
@font-face{ 
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}
body{
    font-family: 'WebFont', Arial, sans-serif; 
}

#logos{
    height: 100px;
    margin-bottom: 10px;
}
#paw_logo{
    width: 100px;
    height: 100px;
}
#paw_logo_image{
    width: 100px;
    height: 100px;
}
#iiest_logo{
    width: 75px;
    height: 75px;
}
#iiest_logo_image{
    width: 75px;
    height: 75px;
}


#navbar{
    background-color: rgb(47, 150, 209);
}


#main_content{
    margin: 0;
    padding-right: 15px;
    padding-left: 10px;
}

#call_to_action{
    background-image: url("../images/nature/Optimized-forest1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width: 940px) {
    #call_to_action{
      background-attachment: scroll;
    }
  }
  

#jumbotron{
    background-image: url("../images/textures/Optimized-whiteWood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#carouselCaptions{
    height: 450px;
}
.carousel_images{
    height: 450px;
    width: 400px;
}
#hr_jumbotron{
    border-color: rgb(255, 81, 0);
}

#featured_videos_navbar{
    background-image: url("../images/textures/Optimized-woodDark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#featured_videos{
    background-image: url("../images/textures/Optimized-wood2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card_class{
    background-color: rgb(52, 226, 52);
}

#featured_articles_navbar{
    background-image: url("../images/textures/Optimized-woodDark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#featured_articles{
    background-image: url("../images/textures/Optimized-wood2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.post_links{
    color: black;
}
.post_links:hover{
    color: black;
    text-decoration: none;
}




#info_section{
    background-image: url("../images/textures/skyBlue1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#text_portion{
    color: red;
    position: relative;
    left: 10px;
}


#footer{
    background-color: rgb(168, 168, 168);
}
#footer_title{
    background-color: rgb(168, 168, 168);
}
#fb_logo{
    width: 40px;
    height: 40px;
}
#insta_logo{
    width: 40px;
    height: 40px;
}
#yt_logo{
    width: 40px;
    height: 40px;
}