html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
@font-face{ 
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}
body{
    font-family: 'WebFont', Arial, sans-serif; 
}

#logos{
    height: 100px;
    margin-bottom: 10px;
}
#paw_logo{
    width: 100px;
    height: 100px;
}
#paw_logo_image{
    width: 100px;
    height: 100px;
}
#iiest_logo{
    width: 75px;
    height: 75px;
}
#iiest_logo_image{
    width: 75px;
    height: 75px;
}

#navbar{
    background-color: rgb(47, 150, 209);
}


#posts_section{
    background-image: url("../images/animals/cat1a.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 940px) {
    #posts_section{
      background-attachment: scroll;
    }
  }

.post{
    background-image: url("../images/textures/Optimized-wood2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card_class{
    background-color: rgb(52, 226, 52);
}
.hr_post_separator{
    border-color: orange;
}

#footer{
    background-color: rgb(168, 168, 168);
}
#footer_title{
    background-color: rgb(168, 168, 168);
}
#fb_logo{
    width: 40px;
    height: 40px;
}
#insta_logo{
    width: 40px;
    height: 40px;
}
#yt_logo{
    width: 40px;
    height: 40px;
}